<h1>Editing lorry</h1>

<% form_for(@lorry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @lorry %> |
<%= link_to 'Back', lorries_path %>
