<h1>Listing lorries</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for lorry in @lorries %>
  <tr>
    <td><%=h lorry.name %></td>
    <td><%= link_to 'Show', lorry %></td>
    <td><%= link_to 'Edit', edit_lorry_path(lorry) %></td>
    <td><%= link_to 'Destroy', lorry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lorry', new_lorry_path %>
